body{
    background-color: #f1f1f1;
}

*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;

    flex-direction: row;

    align-items: center;
    flex-wrap: wrap;
    background-color: #999999;

    margin: 0%;
    width: 100%;
    min-height: 50px;
}

.cabecera_flex{
    display: flex;

    flex-direction: row;

    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-top: 30px;
    width: 100%;

    min-height: 50px;
    margin-bottom: 50px;
    margin-left: 20px;

    gap: 20px;


}

.navegador{
    margin-left: 20px;
    font-size: 1.1rem;
}
.cabecera{
    display: grid;
    grid-template-columns: [line1] 200px [line2] 5px [line3] auto;
    grid-template-rows: [row1] 60px [row2] auto [row3] auto;

    margin-top: 20px;
    margin-bottom: 30px ;

    column-gap: 10px;
}

#foto_principal{
    place-self: center stretch;

    align-items: center;
    justify-self: center;

    margin-left: 20px;
}

#linea_separacion{
    grid-row: 1/4;
    background-color: #999999;
    border-radius: 10px;
}

#nombre{
    margin-top: 15px;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: bold;
    font-variant: small-caps;
    font-stretch: extra-condensed;

    border-radius: 10px;

}

#foto1{
    border-radius: 15%;
    width: 15vw;
    min-width: 250px;
    max-width: 400px;
}

#carrera{

justify-content: center;
font-size: 1.2rem;
font-weight: bold;

}

#descripcion{

    margin-top: 20px;
    min-width: 500px;
    max-width: 700px;
    font-size: 1.1rem;
    text-align: justify;

}

#linea_division{
    height: 10px;
    width: 100vW;
    background-color: #dddddd;
}
.cuerpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bloque_info{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.bloque_titulo{
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 200px;
}

.bloque_cuerpo{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 900px;
}

.bloque_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #dddddd;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.bloque_fecha{
    font-weight: bold;
    font-size: 1.1rem;
    min-width: 90px;
    max-width: 200px;
    width: 200px;
    margin-left: 20px;

}

.bloque_detalle{
    font-size: 1rem;
    margin-left: 50px;
    width: 60vw;
    min-width: 300px;
    max-width: 600px;
    text-align: justify;
}
